<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Renewable energy
    accessible, affordable, and impactful!"
    />
    <!--SASS-->
    <title>Solar Panel Website</title>
  </head>

  <body>
    <!--Banner Component SCSS-->
    <section class="banner">
      <div class="hero">
        <div class="left">
          <h1>Solar Panel Website</h1>
        </div>
        <div class="right">
          <p>
            Harness the power of the sun with innovative, efficient, and
            affordable solar panel solutions. We’re here to help you make the
            switch to renewable energy, reducing your carbon footprint and
            saving on energy costs.
          </p>
          <a href="#services">What we do</a>
        </div>
      </div>
    </section>

    <!--Services Component SCSS-->
    <section class="services" id="services">
      <div class="hero bg">
        <div class="left">
          <div class="content">
            <h1>What We Do</h1>
            <p>
              We empower homes and businesses with reliable and sustainable
              solar energy solutions. Our goal is to make renewable energy
              accessible, affordable, and impactful.
            </p>
          </div>
        </div>
        <div class="right">
          <div class="img-holder">
            <img src="./assets/images/panel.avif" alt="panel" />
          </div>
        </div>
      </div>
    </section>

    <!--Text fetched from data.txt file and displayed-->
    <section class="services" id="services">
      <div class="hero bg">
        <div class="txt-display">
          <div class="content">
            <h1>{{ heading }}</h1>
            <p>{{ desc }}</p>
          </div>
        </div>
      </div>
    </section>

    <!--Footer Component SCSS-->
    <footer>
      <div class="footer-infos-holder">
        <div class="footer-content">
          <h2>Solar Panel</h2>
          <p>
            We’re here to help you make the switch to renewable energy, reducing
            your carbon footprint and saving on energy costs.
          </p>
          <div class="social-media">
            <a href="https://x.com/" target="_blank" aria-label="X">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z"
                  clip-rule="evenodd"
                />
                <path d="M7.2 8.809H4V19.5h3.2V8.809Z" />
              </svg>
            </a>

            <a
              href="https://www.linkedin.com/"
              target="_blank"
              aria-label="Linkedin"
            >
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"
                />
              </svg>
            </a>

            <a href="https://www.facebook.com/" target="_blank" aria-label="X">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="footer-menus">
          <div class="locations">
            <h3>Main Office</h3>
            <div class="exact-location">
              <img
                src="../../assets/images/location.svg"
                alt="location"
                loading="lazy"
              />
              <p>New York, New York</p>
            </div>
            <div class="exact-location">
              <img
                src="../../assets/images/mail.svg"
                alt="mail"
                loading="lazy"
              />
              <p>information.com</p>
            </div>
          </div>

          <div class="quick-links">
            <h3>Quick links</h3>
            <p><a href="#services">What we do</a></p>
            <p><a routerLink="sign-up">Sign In</a></p>
          </div>
        </div>
      </div>
    </footer>

    <!--CopyRight SCSS-->
    <div class="copy-right-holder">
      <div class="text-copy-right">
        <p>© 2024 Solar Panel INC.</p>
      </div>
    </div>
    <script src="./js/fetch.js"></script>
  </body>
</html>
