@import "../abstract/variables/variables.scss";
@import "../abstract/mixin/mixin.scss";

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("ttf");
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}
