@import "../../abstracts/variables";
@import "../../abstracts/mixin";
@import "../../components/footer/footer";

a {
  color: $second-text-color;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $base-color;
  z-index: 1;
}

nav {
  max-width: 1199px;
  margin: auto;
  padding: 30px;  
  ul {
    @include flex-component(center, space-between, row);
    width: 100%;
  }
  li a {
    font-size: map-get($fonts, "s");
    font-weight: $stronger-weight;
  }
  li:last-child a {
    font-size: map-get($fonts, "s");
    @include main-button;
  }
}

.banner {
  position: relative;
  height: calc(100vh - 104px);
}

.services {
  margin-bottom: 80px;
  .hero {
    padding: $default-padding;
  }
}

.content {
  @include flex-component(center, center, column);
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0;
  }
}

.banner,
.services {
  padding: $default-padding;
  @include main-holder(center, center);

  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    .right {
      margin-top: 20px;
    }
  }
}

.bg,
footer {
  background-color: $gray-text-color;
}

.hero {
  @include flex-component(center, start, row);
  border-radius: 15px;

  h1 {
    font-size: map-get($fonts, "lg");
    font-weight: $stronger-weight;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p {
    font-size: map-get($fonts, "m");
    margin-bottom: 40px;
  }

  .left,
  .right {
    @include flex-component(start, start, column);
    padding-right: $default-padding;
    width: 50%;
  }

  .right {
    a {
      @include main-button;
      width: 150px;
    }
  }

  img {
    @include img-default-holder;
    border-radius: 11px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    @include flex-responsiveness(space-around);
    width: 100%;

    .left,
    .right {
      @include flex-component(center, center, column);
      padding: 0;
      width: 100%;
    }
    h1,
    p {
      text-align: center;
    }
    .img-holder {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

.txt-display {
  padding: 50px;
}
