@import "../../abstracts/variables";
@import "../../abstracts/mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  max-width: 1199px;
  margin: auto;
  padding: 30px;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  li:last-child a {
    @include scnd-button;
  }
}

.banner {
  position: relative;
  height: 100vh;
}

.services {
  margin-bottom: 80px;
}

.services div {
  padding: $default-padding;
}

.banner,
.services,
.contact {
  @include main-holder;
  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    padding: $default-padding;
    .right {
      align-items: center;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    height: 100%;
  }
}

.bg {
  background-color: $gray-text-color;
}

.hero {
  @include flex-component;
  border-radius: 15px;

  h1 {
    text-transform: uppercase;
    font-size: map-get($fonts, "lg");
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
  }

  p {
    font-size: map-get($fonts, "sm");
    margin-bottom: 20px;
  }

  .left,
  .right {
    width: 50%;
  }

  .left {
    @include flex-component;
  }

  .left a, .right a {
    @include button-default;
    text-decoration: none;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-holder,
  img {
    @include img-default-holder;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    @include flex-responsiveness;

    width: 100%;

    .left {
      @include flex-component;
    }
    .left,
    .right {
      @include content-box(0px);
      width: 100%;
    }
    .right button {
      width: 200px;
    }
    .content {
      @include content-box(0px 60px 0px 0px);
      padding: 0;
    }
    p {
      text-align: center;
    }
  }

  @media screen and (max-width: $breakpoint-mobile) {
    .right button {
      width: 100%;
    }
  }
}

/*Added a small decoration using css positioning*/
.decoration {
  position: absolute;
  top: 5%;
  right: 0%;
  background-image: url("../../../../assets/images/decoration.svg");
  width: 40px;
  height: 40px;
}
