@import "../../abstracts/variables";
@import "../../abstracts/mixin";

footer {
  background-color: $gray-text-color;
}

.footer-infos-holder {
  @include main-holder(start, space-between);
  padding: 100px 0px;

  @media screen and (max-width: $breakpoint-tablet) {
    @include flex-responsiveness(center);
    width: 100%;
    padding-left: $default-padding;
    padding-right: $default-padding;
  }

  .footer-content {
    width: 40%;
    @media screen and (max-width: $breakpoint-tablet) {
      width: 100%;
    }
    h2 {
      font-size: map-get($fonts, "lg");
      margin-bottom: 20px;
    }
    h1,
    h3 {
      font-weight: $stronger-weight;
      margin-bottom: 20px;
      font-size: map-get($fonts, "m");
    }

    p {
      font-weight: $p-weight;
    }
  }
}

.footer-menus {
  width: 40%;
  display: flex;
  justify-content: space-between;

  h3 {
    margin-bottom: 20px;
  }

  .exact-location {
    margin-bottom: 8px;
  }
  .quick-links p {
    margin-bottom: 8px;
  }

  .exact-location {
    @include flex-component(center, start, row);
    margin-bottom: 8px;
    img {
      padding-right: 8px;
      width: 24px;
      height: 24px;
    }
  }

  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    margin-top: 50px;
  }
}

.social-media {
  @include flex-component(start, start, row);
  margin-top: 25px;
  width: 100%;
  a {
    border: 1px solid #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    @include flex-component(center, center, row);
    margin-right: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }
}

.copy-right-holder {
  background-color: $gray-text-color;
  border-top: 1px solid $dark-gray-color;
}

.text-copy-right {
  @include main-holder(start, center);
  width: 100%;
  padding: 20px 0px;
  p {
    text-align: center;
  }
}
