$base-color: #ffffff;
$second-text-color: #1c88ec;
$light-color: #45a3fb;
$gray-text-color: #f5f5f7;
$dark-gray-color: rgb(166 166 166);

$breakpoint-tablet: 1300px;
$breakpoint-mobile: 640px;

$default-padding: 30px;

$stronger-weight: 600;
$p-weight: 300;

$fonts: (
  "sm": 24px,
  "lg": 32px,
);
